~$*  
upload.ps1  
test.ps1  
extract_doc.py  
*.pptx  
其他素材/  
*.pptx  
*.PPT  
*.PST  
*.doc  
*.pdf  
*.tmp  
*.ps1  
*.py  
/安徽柏威国盛龙门.png  
/安徽柏威质量体系认证.jpg  
/安徽柏威车桥夹具.png  
/安徽柏威透明背景版.PNG  
/柏威工业透明背景版.PNG  
/*.png  
/*.jpg  
/*.PNG  
/*.pptx  
